@import url('https://fonts.googleapis.com/css?family=Indie+Flower'); 

.header-css{
    position:absolute;    
    bottom:0;
    color: rgb(6, 8, 10);
    padding: 0px;
    padding-top: 9px;
    width: 100%;
    
    background-color: rgba(19, 42, 68,0.1);
}

@media only screen and (max-height: 700px) {
    .header-css{
        position:relative;
    }
}

a{
    /* color: rgb(178, 204, 224); */
    color: rgb(6, 8, 10);
}

a img {
    padding-right: 10px;
}

a:link {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  a:active {
    text-decoration: none;
  }

p{
    margin:0;
}

.portfolio-text{
    font-family: "Indie Flower",monospace;
    font-size:larger;
   
}

#v-s-text{
    font-size:xx-small;
}

#portfolio-p{
    font-size:larger;
    font-weight: bolder;
}

#l-logo{
    color:rgb(1, 1, 2); /*Doesnt work*/
}

/* .container{
    display:flex;
} */