.App {
  text-align: center;
}

/* p, label, legend {
  color: aliceblue;
} */

.tsparticles {
  position:fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  z-index: -1;
}

.center {
  display: flex;
  justify-content: center;
}

.signin-box{
  background-color: rgba(20, 33, 47, 0.144);
  /* opacity: 0.5; */
}

.feedback-message {
  color: red;
  font-weight: bold;
  font-size: large;
}

.logging-in-message {
  color: green;
  font-weight: bold;
  font-size: large;
}

.flash {
  animation: blinker 1s linear;
}

@keyframes blinker {
  50% {
    opacity: 0.5;
    color:aliceblue;
  }
}
