/* @import url('https://fonts.googleapis.com/css?family=Kdam+Thmor+Pro');  */
@import url('https://fonts.googleapis.com/css?family=Dosis'); 

 body {
  /* padding:0; */
  margin: 0;
  /* height: 100%; */

  font-family: "Dosis","Courier New", Courier, monospace;
}

html{
  /* width: 100vw; */
  min-height: 100vh;
  background: linear-gradient(45deg, #27272e, #9d9de5);
  /* background: linear-gradient(45deg, rgb(135, 65, 65), rgb(49, 49, 149)); */
} 

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button, label{
  cursor: pointer;
}